body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    position: relative;
}

.location-dropdown {
    position: relative;
    display: inline-block;
}

.location-button {
    background-color: #010408;
    /* Button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.location-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* Background color of dropdown */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.location-dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.location-dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.location-dropdown:hover .dropdown-content {
    display: block;
}

.location-dropdown:hover .location-button {
    background-color: #040a11;
    color: #ccc;
    /* Button color on hover */
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #007bff;
    margin-right: 20%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.location-dropdown {
    margin-right: auto;
    margin-left: 20px;
}

.search-bar {
    flex-grow: 1;
    position: relative;
    display: flex;
    background-color: #050000;
}

.search-bar input {
    width: 20%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #007bff;
    background-color: #050000;
}



.menu-buttons button {
    background-color: #050000;
    border: 1px solid yellow;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}



.menu {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    padding: 10px 0;
    width: 100%;
}

.arrow {

    display: inline-block;
    margin-left: 5px;
    transform: rotate(90deg);
    /* Rotate 90 degrees to point down */
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

/* sidebar */
/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 250px;
    /* Adjust width as needed */
    position: fixed;
    top: 0;
    left: -250px;
    /* Initially hidden */
    background-color: #333;
    color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    /* Smooth transition */
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

/* Button styling */
.hamburger-menu {
    font-size: 24px;
}

/* Show the sidebar */
.sidebar.open {
    left: 0;
}


.hero-section {

    background-image: url(assets/bannerImg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

h1 span {
    display: block;

}


.view-projects-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    transform: rotate(90deg);
}

.search-form {
    position: absolute;
    right: 20px;
    bottom: -60px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.tabs {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.tabs .tab {
    padding: 10px;
    cursor: pointer;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.tabs .tab.active {
    background-color: #fff;
    color: #000;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.search-button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.view-projects {
    color: white;
    text-decoration: none;
    font-size: 18px;
   
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box {
    position: absolute;
    top: 30%;
    right: 7%;
    color: black;
    width: 500px;
}

.tabwrapper {
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;

}

.tabs .tab-link {
    margin-right: 30px;
    background-color: transparent;
    border: none;
    margin-bottom: -15px !important;
    padding-bottom: 40px !important;
    padding: 20px;

    color: #fff;
}

.tabs .tab-link.active {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 40px !important;

}

.tab-link {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
}

.tab-link.active {
    color: black;
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

input,
select {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button {
    width: 30%;
    padding: 10px;
    background-color: black;
    color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* projects section  */
.carousel-container {
    width: 100%;

    background-color: #ebeb9d;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.carousel-header {
    display: flex;
    align-items: center;
    justify-content: center;


}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: serif;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 25%;
    box-sizing: border-box;
    padding: 10px;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.carousel-caption {
    text-align: center;
    margin-top: 10px;
}

.carousel-caption h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.carousel-control {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.carousel-control:hover {
    background-color: #333;
}


/* top developers */
.topdev {
    background-color: #333;
    padding-block: 50px;
    padding-inline: 20px;
}

.topdev-header {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.topdev-image {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

/* footer */
    footer {
        background-color: black;
        color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    footer li{
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: medium;
    }

    .copyright{
        border-top: #ebeb9d solid 1px;
        font-size: 34px;
        padding-top: 10px;
    }

   